<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="icon" type="png" href="../static/logo.png">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <h1>Registrazione</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required>
            <br><br>

            <label for="surname">Cognome:</label>
            <input type="text" name="surname" id="surname" required>
            <br><br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <br><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br><br>

            <label for="role">Ruolo:</label>
            <select name="role" id="role" required>
                <option value="Programmatore">Programmatore</option>
                <option value="Tester">Tester</option>
                <option value="Admin">Admin</option>
            </select>
            <br><br>

            <button type="submit">Registrati</button>
        </form>

        <p>Hai già un account? <a href="{{ url_for('login') }}">Accedi qui</a>.</p>
    </div>
</body>

</html>